<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{STATIC_URL}}css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>

   <style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<style>
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: orange;
    }

    .bar:hover {
      fill: orangered ;
    }

    .x.axis path {
      display: none;
    }

    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }

</style>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    
    <div class="container">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s6">
                    <div class="col s3">
                      <i class="large material-icons">perm_identity</i>
                    </div>
                    <div class="col s9">
                      <span class="black-text">
                            Se usaron {{total_usuarios}} usuarios de twitter.
                      </span>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s3">
                      <i class="large material-icons">business</i>
                    </div>
                    <div class="col s9">
                      <span class="black-text">
                            Se tomaron en cuenta {{total_facultades}} facultades de ESPOL.
                      </span>
                    </div>
                </div>

              </div>
            </div>
          </div>
          <p class="yellow-text text-darken-2"><b>Información sobre el Dataset</b></p>
           <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#test1">Histograma</a></li>
                    <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                    <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
                    <li class="tab col s3"><a href="#test4">Test 4</a></li>
                  </ul>
                </div>
                <div id="test1">
                        <br><br>
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <p class="green-text text-darken-2"><b>Histograma de usuarios por facultades</b></p>
                            <div class="row valign-wrapper" id="hist">
                            

                            </div>
                        </div>
                </div>
                <div id="test2" class="col s12">Test 2</div>
                <div id="test3" class="col s12">Test 3</div>
                <div id="test4" class="col s12">Test 4</div>
            </div>
          

          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <p class="green-text text-darken-2"><b>Grafo de menciones</b></p>
              <div class="row valign-wrapper" id="c">

              </div>
            </div>
          </div>
        
    </div>
</br>
    <div class="container" >
        <ol>
            <li>DIRECCION DE TECNOLOGIAS</li>
            <li>CELEX</li>
            <li>Escuela de Diseño y ComunicaciónVisual</li>
            <li>Facultad de Ingeniería en Ciencias de la Tierra</li>
            <li>Facultad de Ingeniería en Electricidad y Computación</li>
            <li>Facultad de Ingeniería en Mecánica y Ciencias de la Producción</li>
            <li>Facultad de Ingeniería Marítima</li>
            <li>Ciencias Biológicas,Oceánicas y Recursos Naturales</li>
            <li>Instituto de Ciencias Físicas</li>
            <li>Facultad de Ciencias Sociales y Humanísticas</li>
            <li>Instituto de Ciencias Matemáticas</li>
            <li>Instituto de Ciencias Químicas Y Ambientales</li>
            <li>ProgramadeTecnologíaAgrícola</li>
            <li>Programa de Tecnología en Alimentos</li>
            <li>Programa de Tecnología en Computación</li>
            <li>Programa de Tecnología Eléctrica y Electrónica</li>
            <li>Programa de Tecnología Mecánica</li>
            <li>Programa de Tecnología Pesquera</li>
            <li>Facultad de Ciencias Naturales y Matemáticas</li>
        </ul>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{STATIC_URL}}js/materialize.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/data.js"></script>
  <script src="http://code.highcharts.com/modules/drilldown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>

    var margin = {top: 40, right: 20, bottom: 30, left: 90},
        width = 760 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var formatPercent = d3.format(".0");

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .tickFormat(formatPercent);

    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return "<strong>Facultad:</strong> <span style='color:red'>" + String(d.facultad) + "</span>";
      })

    var svg = d3.select(document.getElementById("hist")).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.call(tip);

    d3.tsv("{{STATIC_URL}}js/data.tsv", type, function(error, data) {
      x.domain(data.map(function(d) { return d.letter; }));
      y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Usuarios");

      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.letter); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.frequency); })
          .attr("height", function(d) { return height - y(d.frequency); })
          .on('mouseover', tip.show)
          .on('mouseout', tip.hide)

    });

    function type(d) {
      d.frequency = +d.frequency;
      return d;
    }

</script>
  </body>
</html>
